<script>

      Parse.initialize("{{KEYS.APP_ID}}", "{{KEYS.JAVA_SCRIPT}}");
      Parse.serverURL = '/parse';
      
      app.Start({login:{google:true,facebook:true,twitter:true,mode:'login',isOAuthOnly:true},sections:{
      }});     

</script>
<body id = 'login_page' class='login_page'>
</body>

