<script>

      Parse.initialize("{{KEYS.APP_ID}}", "{{KEYS.JAVA_SCRIPT}}");
      Parse.serverURL = '/parse';
     
      app.Start({login:{google:true,facebook:true,twitter:true,mode:'signup',isOAuthOnly:true},sections:{
      }});     

</script>
<body id = 'signup_page' class='signup_page'>
</body>





