.chat  {
	height: auto;
	display: block;
	min-height: 300px;
	width: 100%;
}

.chat .chatroom {
	height: auto;
	display: block;
	min-height: 300px;
	width: 100%;
	
}

.chat .chatroom_status {
	text-align: center;
	background-color: #FF0000;
	color: #FFFFFF;
	line-height: 50px;
}
.chat .chatroom_users {
	text-align: left;
	background-color: #888888;
	color: #FFFFFF;
	height: 50px;

}

.chat .chatroom_user {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #FFFFFF;
	border: solid 1px #FFFFFF;
	border-radius: 20px;
	margin: 5px;
	background: url("/images/profile_default.png") no-repeat scroll center center / 40px 40px;
	
}

.chat .chatroom_content {
	height: auto;
	display: block;
	min-height: 300px;
	width: 100%;
	color: #888888;
	background-color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	font-weight: 100;
	padding: 10px;
	padding-bottom: 110px;
}


.chat .chatroom_content {
	height: auto;
	display: block;
	min-height: 300px;
	width: 100%;
	color: #888888;
	background-color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	font-weight: 100;
	padding: 10px;
	padding-bottom: 110px;
}

.chat .chat_input {
	display: block;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 110px;
	background-color: #eeeeee;
	border-top: solid 1px #eeeeee;
	padding-left: 10px;
}

.chat .chat_input .input_text {
	display: inline;
	box-shadow: none;
	text-shadow: none;
	border: 0;
	background: #ffffff;
	border-radius: 5px 0px 0px 5px;
	font-weight: normal;
	font-size: 14px;
	color: #676767;
	width: calc(100% - 130px);
	height: 30px;
	padding: 6px 10px 6px;
	margin: 9px 0px 0px;
	border: 1px solid #dcdcdc;
	position: relative;
	-webkit-appearance: none;
}
.chat .chat_input .btPost {
    height: 30px;
    line-height: 30px;
    width: 56px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    background: #00b8f0;
    border: solid 1px #00b8f0;
    border-radius: 0px 5px 5px 0px;
    margin: 9px 0px 0px 0px;
    text-transform: none;
    display: inline;
}
.chat .chat_input .btPost:after {
	content: "Send";
}
.chat .chat_input .sending {
	font-size: 17px;
	color: #7e7e8e;
	font-weight: 100;
	line-height: 50px;
	text-align: center;
	width: 100%;
	margin: 0px;

}